<!DOCTYPE html>
    <head>
        <title>{{ info.title }} - {{ info.author }}</title>
    </head>
    <body>
        <h1>{{ info.title }}</h1>
        <h3>Class: {{ info.class }}</h3>
        <p>Query was run on {{ info.date }} at {{ info.time }} by {{ info.author }} who can be reached at {{ info.email }}.
         </p>
        <table>
            {% for key, value in content.items() %}
                {% if loop.first %}
                    <tr>
                        {% for key, value in value.items() %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for key, value in value.items() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% else %}
                <tr>
                    {% for key, value in value.items() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </body>
</html>